<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.swpu.cins.data_castle.dao.MatchDao">
    <insert id="saveTeam" useGeneratedKeys="true" keyProperty="id" parameterType="cn.edu.swpu.cins.data_castle.entity.persistence.TeamInfo" >
        INSERT INTO
        team_info
        (team_name)
        VALUES (#{teamName})
    </insert>

    <select id="selectAll" resultType="cn.edu.swpu.cins.data_castle.entity.persistence.Ranking">
        SELECT
        t_id AS teamId,
        max_score AS maxScore,
        last_score AS lastScore,
        (SELECT t.team_name  FROM team_info AS t WHERE t.id = r.t_id LIMIT 1) AS teamName
        FROM ranking AS r
    </select>

    <select id="selectByName" parameterType="String" resultType="cn.edu.swpu.cins.data_castle.entity.persistence.TeamInfo">
        SELECT
        id,
        team_name AS teamName
        FROM
        team_info
        WHERE
        team_name=#{teamName}
    </select>

    <select id="selectByTeamId" parameterType="int" resultType="cn.edu.swpu.cins.data_castle.entity.dto.TeamUserInfo">
        SELECT
        username,mail,school_number AS schoolNumber,
        (SELECT t.team_name FROM team_info AS t WHERE t.id=#{teamId}) AS teamName,
        (SELECT r.max_score FROM ranking AS r WHERE r.t_id=#{teamId}) AS maxScore,
        (SELECT r2.last_score FROM ranking AS r2 WHERE r2.t_id=#{teamId}) AS lastScore
        FROM user_info AS u WHERE  u.t_id=#{teamId}

    </select>
</mapper>